
*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 800px;
    padding: 200px 30px;
    position: relative;
}

h1{
    text-align: center;
    margin-bottom: 15px;
}

.write-country{
    height: 30px;
    width: 100%;
    border: 1px solid #777;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
}

.write-country:focus{
    border: 2px solid #1ad5ff; ;
}

.btn-search{
    width: 100px;
    height: 33px;
    background-color: #6c9fff;
    border: none;
    font-style: italic;
    font-size: 16px;
    color: white;
}

.country-list{
    list-style: none;
    padding: 5px 15px;
}

.country-list li{
    margin-bottom: 5px;
}

.country-container{
    border: 1px solid #1ad5ff;
    display: none;
    width: 708px;
    position: absolute;
    top: 283px;
    max-height: 300px;
    overflow: auto;
}