.block {
    display: block;
}

input {
    margin-bottom: 10px;
}

.password {
    margin-bottom: 20px;
}

.checkbox {
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 18px 12px;
    background-color: greenyellow;
    color: #777;
} 

.btn:hover {
    background-color: aqua;
}