*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-visible,
.container-hidden {
    background: #dbddde;
    padding: 0 15px;
    margin: 50px auto 0;
    width: 800px;
}


section{
    padding: 30px 10px;
}


.container-hidden {
    width: 600px;
    display: none;
    position: fixed !important;
    top: -10%;
    left: 20%;
}

.container {
    background-color: white;
}

.container-hidden:before{
    position: fixed;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .6;
    z-index: -1;
}

.container-header{
    border-left: 3px solid #9c9c9c;
    display: flex;
    justify-content: start;
    padding: 10px;
    margin-bottom: 35px;
}


h1{
    padding-right: 7px;
    color: #546372;
}

.border{
    width: 100%;
    height: 1px;
    background: #bfbaba;
    margin-top: 15px;
}

.btn-block, .invoices, .modal-content{
    padding: 15px;
    background: white;
    border: 1px solid #decbcb;
    border-radius: 2px;
    margin-bottom: 25px;
}

.modal-content {
    border: none;
}

h2{
    font-size: 15px;
    margin-bottom: 5px;
}

.btn{
    background: #0c4066;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
}

.table{
    width: 100%;
    border: none;
}

thead{
    background: #dbddde;
    color: #7e8c9a;
}

tbody td{
    padding: 10px;
    border-right: none;
    border-bottom: 1px solid #bfbaba;
}

th{
    text-align: left;
    padding: 10px 30px;
}

.d-f {
    display: flex;
}

.fw-w {
    flex-wrap: wrap;
}

input {
    display: block;
    width: 100%;
    padding: 5px 15px;
}

.col-2 {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 10px;
}

.row {
    margin: 0 -15px;
}

.comment {
    width: 100%;
    height: 45px;
    padding: 7px 15px;
}
.inputs-holder {
    padding: 20px;
    border: 1px solid #bfbaba;
    margin-bottom: 20px;
}

.btn-holder {
   justify-content: flex-end;
   align-items: center; 
}